* {
    box-sizing: border-box;
}

body {
    background-color: #448;
    color: #D7D;
}

header, #nav {
    display: unset;
}

#head-spacer {
    height: 100px;
}

#scrolled {
    position: fixed;
    top: 0;
    opacity: 50%;
    background-color: #f5f;
    z-index: 1;
}

.row {
    position: relative;
}

h1 {
    margin: 50px;
    color: #ccc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 0px 5px #000,
                 1px 1px 0px #888,
                 2px 2px 0px #777,
                 3px 3px 0px #666,
                 4px 4px 0px #555,
                 5px 5px 0px #444,
                 6px 6px 0px #333,
                 7px 6px 0px #000,
                 8px 6px 0px #000,
                 9px 6px 0px #000,
                 10px 6px 0px #000,
                 11px 6px 0px #000,
                 12px 6px 0px #000,
                 13px 6px 0px #000,
                 14px 6px 0px #000;
}

.card {
    background-color: #282;
    font-weight: bold;
    text-shadow: 0px 0px 6px #000;
    position: absolute;
    height: 50px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 5px;
}

.card:hover {
    border: 0px;
    box-shadow: 0px 0px 2px 2px #fff;
    text-shadow: 0px 0px 2px #fff, 0px 0px 5px #ff0, 0px 0px 10px #f00, 0px 0px 15px #000;
    cursor: default;
}

.used {
    background-color: #888;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    height: 50px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 5px;
    visibility: hidden;
}

.used {
    cursor: default;
}

#tabs {
    position: relative;
    margin: 30px;
}

#description {
    background-color: #000;
    border-radius: 5px;
    margin: 10px;
    height: 500px;
    margin: 30px;
}

.ltgray-back {
    background-color: #ccc;
    color: #000;
}

@media (min-width:768px) and (max-width:991px) {

    .card {
        position: static;
    }
    .used {
        position: static;
    }
}